*{
  margin:0px;
  padding: 0px;
} 
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color:#f4f4f4;
  width:100%;
}
.container {
  min-height: 5vh;
  margin:auto;
}
header{
  
  background-color: #282c34;
}
#header{
  padding:0 10%;
  position: fixed;
  right: 0;
  overflow: auto;
  width:100%;
  margin:auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  width:20%;
  
}

.boards{
  padding:10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  grid-gap: 10px;
  
  
}
.board-name{
  padding:20px;
  font: italic bold 20px/30px Georgia, serif;
  color:#172B4D;
  width:30%;
  margin:20;
}
.checkbox-checkitem{
display: flex;
}
.board-btn{

  z-index: 1;
  /* display:inline-block; */
  padding: 0.3em 2em;
  margin: 100px 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#9a4ef1;
  text-shadow : 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
.board-btn:hover {
  border-color: rgb(85, 57, 57);
}
.list{
  display: flex;
}
.list-items{
  margin-top:70px;
  margin-left:10px;
  padding:15px 10px;
  background-color: #EBECF0;
  width:200px;
  font-weight: bold;
  font-size: calc(2px + 2vmin);
  color:#172B4D;
  
}
.list-name{
  text-align: left;
}
  